.navigationBox{
    background-color: var(--primary-background);
    padding: var(--box-padding);
    border-radius: calc(var( --box-border-radius) - 3px);
}
.navigationBox > span{
    color: var(--primary-txt);
    font-weight: 500;
    font-size: 1.2rem;
}