.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-background);
}

.registerForm {
  background-color: var(--primary-background);
  padding: 20px;
  border-radius: var(--box-border-radius);
  width: 100%;
  max-width: 400px;
  margin-inline: 20px;
}

.heading {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.formGroup {
  margin-bottom: 15px;
  flex: 1;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: var( --primary-button);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--secondary-button);
}

.separator {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  text-align: center;
}

.separatorLine {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.separatorText {
  margin: 0 10px;
  color: #555;
  font-weight: bold;
}
.googleButtonContainer {
  display: flex;
  justify-content: center;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.googleButton:hover{
  background-color: rgb(240, 240, 240);
}