.todos{
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-content: center;
    place-items: center;
}

.todo{
    width: 23rem;
    background-color: var( --primary-background);
    padding: var(--box-padding);
    border-radius: var( --box-border-radius);
    position: relative;
}
.todo > span{
    font-size: 1.2rem;
    width: 19rem;
    font-weight: 500;
    display: block;
    margin: 10px 0px;
}
.subTodos{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height:25px;
    overflow: hidden;
    transition: max-height 0.5s;
    transition-timing-function: ease-in-out;
}
.subTodos > p{
    color: var( --secondary-txt);
}
.openTodos{
    max-height: 280px;
}
.subTodos > label{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.subTodos > label span{
    color: var(--secondary-txt);
    font-weight: 400;
}
.todoBottomDefault{
    width: 100%;
}
.todoBottomOnBlur{
    transition:  backdrop-filter 0.3s;  
    backdrop-filter: blur(0.8px);
    border-radius: 0px 0px 7px 7px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70%;
    bottom: 0px;
}

.bottomBlurAction{
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}
.blurActionToggle{
    transform: rotate(180deg);
    filter: blur(0);
}

.addingSubTodo{
    position: absolute;
    top: 18px;
    right: 9px;
    visibility: hidden;
    transition: visibility  0.3s;

}
.addingSubTodo > button{
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addingActionToggle{
    visibility: visible;
}

.addSubTodoVisibility{
    visibility: visible;
}